<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/plugins/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/plugins/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="/static/css/edmure.css"/>
    <link rel="stylesheet" href="/static/css/commons.css"/>
    <link rel="stylesheet" href="/static/css/account.css"/>
    <style>

    </style>
</head>
<body>
<div class="login">
    <div style="font-size: 25px; font-weight: bold;text-align: center;">
        用户登陆
    </div>
    <form id="login_form" role="form">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">用户名</label>
            <input type="text" name="username" class="form-control" id="username" placeholder="请输入用户名">

            <p style="float: right;color: red"></p>
        </div>
        <div class="form-group">
            <label for="password">密码</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="请输入密码">

            <p style="float: right;color: red"></p>
        </div>
        <div class="form-group">
            <label for="password">验证码</label>

            <div class="row">
                <div class="col-xs-7">
                    <input name="check_code" type="password" class="form-control" id="check_code" placeholder="请输入验证码">
                </div>
                <div class="col-xs-5">
                    <img src="/check_code.html" onclick="changeCheckCode(this)">
                </div>
            </div>


        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="rmb"> 一个月内自动登陆
            </label>

            <div class="right">
                <a href="#">忘记密码？</a>
            </div>

        </div>
        {#        <button id="loginBtn" type="submit" class="btn btn-default">登 陆</button>#}
        <input id="loginBtn" class="btn btn-default" value="登陆"/>

        <p style="float: right;color: red" id="error_confirm"></p>
    </form>
</div>
</body>

<script src="/static/js/jquery-1.12.4.js"></script>
<script>

    $("#loginBtn").click(function () {
        $.ajax({
                    url: "/login.html",
                    type: 'POST',
                    data: $("#login_form").serialize(),
                    success: function (data) {
                        var data = JSON.parse(data);
                        console.log(data)
                        if (data.status) {
                            location.href = '/'
                        }
                        else {
                            //清空所有error p标签的内容
                            $("#login_form").find('p[id*=error_]').each(
                                    function () {
                                        $(this).text("")
                                    }
                            )
                            //根据错误信息动态绑定到p标签
                            $("#error_confirm").html(data.error)
                        }
                    }
                }
        )
    })

    function changeCheckCode(ths) {
        ths.src = ths.src + '?';
    }

</script>
</html>